<!-- Navagation Bar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <!-- Title -->
      <p id="nav-title">HALFTIME<span id="nav-title-clock">g</span></p>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Links -->
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> Home </a>

      <a class="navbar-item"> 1-on-1 </a>

      <!-- Dropdown Menu -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <!-- Dropdown Menu Links -->
        <div class="navbar-dropdown">
          <a class="navbar-item"> About </a>
          <a class="navbar-item"> Jobs </a>
          <a class="navbar-item"> Contact </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue </a>
        </div>
      </div>
    </div>

    <!-- Sign Up / Log In -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light"> Log in </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- 
-------------------- References --------------------
fairwater font - https://fonts.adobe.com/fonts/fairwater#details-section+fairwater-deco-serif-regular
poppi font - https://fonts.adobe.com/fonts/poppi#fonts-section
court - https://upload.wikimedia.org/wikipedia/commons/6/6c/Basketball_courts.svg
-->
