<!-- Navagation Bar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <!-- Title -->
      <p id="nav-title">HALFTIME<span id="nav-title-clock">g</span></p>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Links -->
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/"> Home </a>

      <a class="navbar-item" href="/players"> Players </a>

      <a class="navbar-item" href="/one_on_one"> 1-on-1 </a>

      <!-- Dropdown Menu -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <!-- Dropdown Menu Links -->
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/stat_leaders"> Stat Leaders </a>
          <a class="navbar-item" href="/evolution_of_the_game"> Evolution of the Game </a>
          <a class="navbar-item" href="/strategies"> Strategies </a>
          <a class="navbar-item" href="/coaches"> Coaches </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Report an issue </a>
        </div>
      </div>
    </div>

    <!-- Light Mode / Dark Mode -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        
          <button class="button is-light" id="light">
            <i class="fa-solid fa-toggle-on"></i>
          </button>
          <button class="button is-dark" id="dark"> <i class="fa-solid fa-toggle-off"></i> </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- 
-------------------- References --------------------
fairwater font - https://fonts.adobe.com/fonts/fairwater#details-section+fairwater-deco-serif-regular
poppi font - https://fonts.adobe.com/fonts/poppi#fonts-section
court - https://upload.wikimedia.org/wikipedia/commons/6/6c/Basketball_courts.svg
-->
