/* -------------------- Enite Page -------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(50, 52, 64);
  color: #fafafa;
}

.title-page {
  text-align: center;
  font-family: fairwater-deco-serif, sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
}

/* -------------------- Navagation Bar -------------------- */
.navbar {
  background-color: rgb(250, 250, 250);
  font-family: fairwater-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#nav-title {
  font-family: epicursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

#nav-title-clock {
  font-family: poppi-ot, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
}

/* -------------------- Footer -------------------- */
.footer {
  position: relative; /* Ensures footer stays at the bottom of the page */
}
