/* -------------------- Enite Page -------------------- */
* {
  margin: 0;
  padding: 0;
}

.light {
  background-color: transparent;
  color: 4a4a4a !important;
}

.dark {
  background-color: rgb(50, 52, 64) !important;
  color: #fafafa !important;
}

.title-page {
  text-align: center;
  font-family: fairwater-deco-serif, sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
}

a {
  color: inherit; /* remove default link color */
}

/* -------------------- Navagation Bar -------------------- */
.navbar {
  background-color: transparent; /* Remove Bulma's Built-i=In Styling */
  font-family: fairwater-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

#nav-title {
  font-family: epicursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

#nav-title-clock {
  font-family: poppi-ot, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
}

/* -------------------- Footer -------------------- */
.footer {
  background-color: transparent; /* Remove Bulma's Built-i=In Styling */
  position: relative; /* Ensures footer stays at the bottom of the page */
}
